<%= semantic_form_for @klass, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group hide">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :menu, :class => 'control-label' %>
    <div class="controls">
      <%Klass::KlassMenu.each do |choice|%>
      <label class="radio inline">
      <%= f.radio_button :menu, choice%><%=choice%>
      </label>
      <%end%>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                klasses_path, :class => 'btn' %>
  </div>
<% end %>
