<%= form_for @baoming, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :person_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :person_id, Person.all, :id, :username %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :discount_way, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :discount_way, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_way, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :payment_way, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :makeup, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :makeup, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :next, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :next, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :important, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :important, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :installment, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :installment, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :installment_duration, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :installment_duration, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :installment_value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :installment_value, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :installment_last, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :installment_last, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                baomings_path, :class => 'btn' %>
  </div>
<% end %>
