<%- model_class = Baoming -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:person_id) %>:</strong></dt>
  <dd><%= @baoming.person_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount_way) %>:</strong></dt>
  <dd><%= @baoming.discount_way %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_way) %>:</strong></dt>
  <dd><%= @baoming.payment_way %></dd>
  <dt><strong><%= model_class.human_attribute_name(:makeup) %>:</strong></dt>
  <dd><%= @baoming.makeup %></dd>
  <dt><strong><%= model_class.human_attribute_name(:next) %>:</strong></dt>
  <dd><%= @baoming.next %></dd>
  <dt><strong><%= model_class.human_attribute_name(:important) %>:</strong></dt>
  <dd><%= @baoming.important %></dd>
  <dt><strong><%= model_class.human_attribute_name(:installment) %>:</strong></dt>
  <dd><%= @baoming.installment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:installment_duration) %>:</strong></dt>
  <dd><%= @baoming.installment_duration %></dd>
  <dt><strong><%= model_class.human_attribute_name(:installment_value) %>:</strong></dt>
  <dd><%= @baoming.installment_value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:installment_last) %>:</strong></dt>
  <dd><%= @baoming.installment_last %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              baomings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_baoming_path(@baoming), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              baoming_path(@baoming),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
