<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @baoming.person_id %>
</p>

<p>
  <b>Discount way:</b>
  <%= @baoming.discount_way %>
</p>

<p>
  <b>Payment way:</b>
  <%= @baoming.payment_way %>
</p>

<p>
  <b>Makeup:</b>
  <%= @baoming.makeup %>
</p>

<p>
  <b>Next:</b>
  <%= @baoming.next %>
</p>

<p>
  <b>Important:</b>
  <%= @baoming.important %>
</p>

<p>
  <b>Installment:</b>
  <%= @baoming.installment %>
</p>

<p>
  <b>Installment duration:</b>
  <%= @baoming.installment_duration %>
</p>

<p>
  <b>Installment value:</b>
  <%= @baoming.installment_value %>
</p>

<p>
  <b>Installment last:</b>
  <%= @baoming.installment_last %>
</p>


<%= link_to 'Edit', edit_baoming_path(@baoming) %> |
<%= link_to 'Back', baomings_path %>
