<%= form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%Student::Sex.each do |choice|%>
      <label class="radio inline">
      <%= f.radio_button :sex, choice%><%=choice%>
      </label>
      <%end%>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :phone, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qq, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :qq, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_51, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :home_51, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_101, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :home_101, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_summer, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :home_summer, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_4, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :exam_4, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_6, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :exam_6, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_toefl, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :exam_toefl, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_qimo, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :exam_qimo, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :guide, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :guide, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :guide_vip, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :guide_vip, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logic, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :logic, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :alumnus, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :alumnus, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :finished, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :finished, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :signup_openclass, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :signup_openclass, :class => 'check_box' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :grade, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :grade, :class => 'number_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn' %>
  </div>
<% end %>
