<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:username) %>:</strong></td>
    <td><%= @student.username %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:sex) %>:</strong></td>
    <td><%= @student.sex %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:phone) %>:</strong></td>
    <td><%= @student.phone %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:qq) %>:</strong></td>
    <td><%= @student.qq %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:school_id) %>:</strong></td>
    <td><%= @student.school_id %></td>
  </tr>
    <tr>
    <td><strong><%= model_class.human_attribute_name(:college_id) %>:</strong></td>
    <td><%= @student.college_id %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:major_id) %>:</strong></td>
    <td><%= @student.major_id %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:grade) %>:</strong></td>
    <td><%= sf @student.grade %></td>
  </tr> 
  <tr>
    <td><strong><%= model_class.human_attribute_name(:home_51) %>:</strong></td>
    <td><%= sf @student.home_51 %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:home_101) %>:</strong></td>
    <td><%= sf @student.home_101 %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:home_summer) %>:</strong></td>
    <td><%= sf @student.home_summer %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exam_4) %>:</strong></td>
    <td><%= sf @student.exam_4 %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exam_6) %>:</strong></td>
    <td><%= sf @student.exam_6 %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exam_toefl) %>:</strong></td>
    <td><%= sf @student.exam_toefl %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:exam_qimo) %>:</strong></td>
    <td><%= sf @student.exam_qimo %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:guide) %>:</strong></td>
    <td><%= sf @student.guide %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:guide_vip) %>:</strong></td>
    <td><%= sf @student.guide_vip %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:logic) %>:</strong></td>
    <td><%= sf @student.logic %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:alumnus) %>:</strong></td>
    <td><%= sf @student.alumnus %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:finished) %>:</strong></td>
    <td><%= sf @student.finished %></td>
  </tr>    
  <tr>
    <td><strong><%= model_class.human_attribute_name(:signup_openclass) %>:</strong></td>
    <td><%= @student.signup_openclass %></td>
  </tr>  

</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              students_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_student_path(@student), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              student_path(@student),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
