<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @person.username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @person.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qq) %>:</strong></dt>
  <dd><%= @person.qq %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @person.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:home_51) %>:</strong></dt>
  <dd><%= @person.home_51 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:home_101) %>:</strong></dt>
  <dd><%= @person.home_101 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:home_summer) %>:</strong></dt>
  <dd><%= @person.home_summer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_4) %>:</strong></dt>
  <dd><%= @person.exam_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_6) %>:</strong></dt>
  <dd><%= @person.exam_6 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_toefl) %>:</strong></dt>
  <dd><%= @person.exam_toefl %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam_qimo) %>:</strong></dt>
  <dd><%= @person.exam_qimo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guide) %>:</strong></dt>
  <dd><%= @person.guide %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guide_vip) %>:</strong></dt>
  <dd><%= @person.guide_vip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logic) %>:</strong></dt>
  <dd><%= @person.logic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alumnus) %>:</strong></dt>
  <dd><%= @person.alumnus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finished) %>:</strong></dt>
  <dd><%= @person.finished %></dd>
  <dt><strong><%= model_class.human_attribute_name(:school_id) %>:</strong></dt>
  <dd><%= @person.school_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:major_id) %>:</strong></dt>
  <dd><%= @person.major_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grade) %>:</strong></dt>
  <dd><%= @person.grade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:signup_openclass) %>:</strong></dt>
  <dd><%= @person.signup_openclass %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @person.sex %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
