<h1>Listing planitems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Klassplan</th>
    <th>Person</th>
    <th>State</th>
    <th>Start at</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @planitems.each do |planitem| %>
  <tr>
    <td><%= planitem.title %></td>
    <td><%= planitem.klassplan_id %></td>
    <td><%= planitem.person_id %></td>
    <td><%= planitem.state %></td>
    <td><%= planitem.start_at %></td>
    <td><%= planitem.duration %></td>
    <td><%= link_to 'Show', planitem %></td>
    <td><%= link_to 'Edit', edit_planitem_path(planitem) %></td>
    <td><%= link_to 'Destroy', planitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Planitem', new_planitem_path %>
