<h1>Listing Teacher</h1>

<table class='table table-striped table-bordered'>
  <tr>
    <th>Username</th>
    <th>Phone</th>
    <th>Qq</th>
    <th></th>
  </tr>

<% collection.each do |teacher| %>
  <tr>
    <td><%= teacher.username %></td>
    <td><%= teacher.phone %></td>
    <td><%= teacher.qq %></td>
    <td>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_teacher_path(teacher), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  teacher_path(teacher),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_teacher_path,
            :class => 'btn btn-primary' %>
