<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:projector) %></th>
      <th><%= model_class.human_attribute_name(:sound) %></th>
      <th><%= model_class.human_attribute_name(:mic) %></th>
      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:frequency) %></th>
      <th><%= model_class.human_attribute_name(:cycle) %></th>
      <th><%= model_class.human_attribute_name(:section) %></th>
      <th><%= model_class.human_attribute_name(:kind) %></th>
      <th><%= model_class.human_attribute_name(:chaban) %></th>
      <th><%= model_class.human_attribute_name(:style) %></th>
      <th><%= model_class.human_attribute_name(:video_makeup) %></th>
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:remark) %></th>
      <th><%= model_class.human_attribute_name(:network) %></th>
      <th><%= model_class.human_attribute_name(:tools) %></th>
      <th><%= model_class.human_attribute_name(:menu) %></th>
      <th><%= model_class.human_attribute_name(:laser) %></th>
      <th><%= model_class.human_attribute_name(:need_before_task) %></th>
      <th><%= model_class.human_attribute_name(:need_after_task) %></th>
      <th><%= model_class.human_attribute_name(:before_task) %></th>
      <th><%= model_class.human_attribute_name(:after_task) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.id, course_path(course) %></td>
        <td><%= course.title %></td>
        <td><%= course.projector %></td>
        <td><%= course.sound %></td>
        <td><%= course.mic %></td>
        <td><%= course.capacity %></td>
        <td><%= course.duration %></td>
        <td><%= course.frequency %></td>
        <td><%= course.cycle %></td>
        <td><%= course.section %></td>
        <td><%= course.kind %></td>
        <td><%= course.chaban %></td>
        <td><%= course.style %></td>
        <td><%= course.video_makeup %></td>
        <td><%= course.score %></td>
        <td><%= course.remark %></td>
        <td><%= course.network %></td>
        <td><%= course.tools %></td>
        <td><%= course.menu %></td>
        <td><%= course.laser %></td>
        <td><%= course.need_before_task %></td>
        <td><%= course.need_after_task %></td>
        <td><%= course.before_task %></td>
        <td><%= course.after_task %></td>
        <td><%=l course.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_path(course), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_path(course),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_path,
            :class => 'btn btn-primary' %>
