<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:title) %>:</strong></td>
    <td><%= @course.title %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:state) %>:</strong></td>
    <td><%= @course.state %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:projector) %>:</strong></td>
    <td><%= @course.projector %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:sound) %>:</strong></td>
    <td><%= @course.sound %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:mic) %>:</strong></td>
    <td><%= @course.mic %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:capacity) %>:</strong></td>
    <td><%= @course.capacity %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:duration) %>:</strong></td>
    <td><%= @course.duration %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:frequency) %>:</strong></td>
    <td><%= @course.frequency %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:cycle) %>:</strong></td>
    <td><%= @course.cycle %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:section) %>:</strong></td>
    <td><%= @course.section %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:kind) %>:</strong></td>
    <td><%= @course.kind %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:chaban) %>:</strong></td>
    <td><%= @course.chaban %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:style) %>:</strong></td>
    <td><%= @course.style %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:video_makeup) %>:</strong></td>
    <td><%= @course.video_makeup %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:score) %>:</strong></td>
    <td><%= @course.score %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:remark) %>:</strong></td>
    <td><%= @course.remark %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:network) %>:</strong></td>
    <td><%= @course.network %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:menu) %>:</strong></td>
    <td><%= @course.menu %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:laser) %>:</strong></td>
    <td><%= @course.laser %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:tools) %>:</strong></td>
    <td><%= @course.tools %></td>
  </tr>    
  <tr>
    <td><strong><%= model_class.human_attribute_name(:need_before_task) %>:</strong></td>
    <td><%= @course.need_before_task %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:before_task) %>:</strong></td>
    <td><%= @course.before_task %></td>
  </tr>    
  <tr>
    <td><strong><%= model_class.human_attribute_name(:need_after_task) %>:</strong></td>
    <td><%= @course.need_after_task %></td>
  </tr>  
  <tr>
    <td><strong><%= model_class.human_attribute_name(:after_task) %>:</strong></td>
    <td><%= @course.after_task %></td>
  </tr>  
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_path(@course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_path(@course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
