<%= form_for @klassplan, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :klass_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :klass_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :before_klass_notification_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :before_klass_notification_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :room_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :room_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                klassplans_path, :class => 'btn' %>
  </div>
<% end %>
