<%= form_for @review, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <% if @student %>
  <div class="control-group">
    <%= f.label :student, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :student_id,:value=>@student.username,:disabled=>true, :class => 'text_field' %>
      <%= f.hidden_field :student_id,:value=>@student.id, :class => 'text_field' %>
    </div>
  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <div class="datetimepicker1" class="input-append date">
        <%= f.text_field :start_at, :class => 'text_field','data-format'=>"yyyy/MM/dd hh:mm:ss" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <div class="datetimepicker1" class="input-append date">
        <%= f.text_field :end_at, :class => 'text_field','data-format'=>"yyyy/MM/dd hh:mm:ss" %>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reviews_path, :class => 'btn' %>
  </div>
<% end %>
