<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @klass.title %>
</p>

<p>
  <b>State:</b>
  <%= @klass.state %>
</p>

<p>
  <b>Projector:</b>
  <%= @klass.projector %>
</p>

<p>
  <b>Sound:</b>
  <%= @klass.sound %>
</p>

<p>
  <b>Mic:</b>
  <%= @klass.mic %>
</p>

<p>
  <b>Capacity:</b>
  <%= @klass.capacity %>
</p>

<p>
  <b>Duration:</b>
  <%= @klass.duration %>
</p>

<p>
  <b>Frequency:</b>
  <%= @klass.frequency %>
</p>

<p>
  <b>Cycle:</b>
  <%= @klass.cycle %>
</p>

<p>
  <b>Section:</b>
  <%= @klass.section %>
</p>

<p>
  <b>Kind:</b>
  <%= @klass.kind %>
</p>

<p>
  <b>Chaban:</b>
  <%= @klass.chaban %>
</p>

<p>
  <b>Style:</b>
  <%= @klass.style %>
</p>

<p>
  <b>Video makeup:</b>
  <%= @klass.video_makeup %>
</p>

<p>
  <b>Score:</b>
  <%= @klass.score %>
</p>

<p>
  <b>Remark:</b>
  <%= @klass.remark %>
</p>

<p>
  <b>Network:</b>
  <%= @klass.network %>
</p>

<p>
  <b>Tools:</b>
  <%= @klass.tools %>
</p>


<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
